@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
/*navegação desktop*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titilium Web',sans-serif;
}
body{
    background-image: url(imagens/fundocontato.jpg);
}
.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
nav li a{
    list-style: none;
}

header {
    background-color: #000000;
    
    box-sizing: border-box;
}

div.logo img{
    width: 180px; 
    
}

.menu nav a{
    color: #fff;
    text-decoration: none;
    padding-right: 50px;
    font-size: 19pt;
    position: relative;
}
.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #FF2500,#FF7100);
    position: absolute;
    top: 30px;
    left: 0;
    transition: 0.5s;

}
.menu nav a:hover::after{
    width: 30px;
}
.sociais button{
    width: 35pt;
    height: 35pt;
    background-image: linear-gradient(45deg, #FF2500,#FF7100); 
    border: none;
    
    border-radius: 8px;
    cursor: pointer;

}
.sociais button i{
    font-size: 30px;
    color: #fff;
}
.sociais{
    padding: 10px;
    margin-right: 20px;
    
    
}
.sociais button{
    margin-right: 8px;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #ffffff;
    transform: scale(1.05);
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}
.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffd997;
    border: 0;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #ffffff;
    transform: scale(1.05);
}

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #ffd997;
}

.topo-do-site .txt-topo-site p {
    color: #000000;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
} 
.fale-conosco h3{
    text-align: center;
    margin-top:80px ;
    margin-bottom: 70px;
    font-style: oblique;
}



@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}
footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.footer-menu-container{
    list-style-type: none;
    color: #ffffff;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: #ffffff;
    text-align: center;
}
.footer-menu-container a{
text-decoration: none;
color: #ffffff;    
}