@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
/*navegação desktop*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titilium Web',sans-serif;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
nav li a{
    list-style: none;
}

header {
    background-color: #ffbd729f;
    
    box-sizing: border-box;
}

.logo img {
    width: 120px;
    
}

.menu nav a{
    color: #fff;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
}
.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #FF2500,#FF7100);
    position: absolute;
    top: 30px;
    left: 0;
    transition: 0.5s;

}
.menu nav a:hover::after{
    width: 30px;
}
.sociais button{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #FF2500,#FF7100); 
    border: none;
    
    border-radius: 8px;
    cursor: pointer;

}
.sociais button i{
    font-size: 20px;
    color: #fff;
}
.sociais{
    padding: 10px;
    margin-right: 20px;
    
    
}
.sociais button{
    margin-right: 8px;
}
 /* conteudo principal do site */

.titulos{
    text-transform: uppercase;
    color: rgb(146, 126, 202);
    font-size: 24pt;
    border-bottom: 2px solid blue;
    display: inline-block;
    /* width: 100px; */
    margin: 30px auto 30px auto;
    text-align: center;
}


/*navegação menu mobile*/

@media only screen and (max-width: 1030px) and (min-width: 750px){

}