@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
/*navegação desktop*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titilium Web',sans-serif;
}
body{
    background-image: url(imagens/fundocontato.jpg);
}
.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
nav li a{
    list-style: none;
}

header {
    background-color: #000000;
    
    box-sizing: border-box;
}

div.logo img{
    width: 180px; 
    
}

.menu nav a{
    color: #fff;
    text-decoration: none;
    padding-right: 50px;
    font-size: 19pt;
    position: relative;
}
.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #FF2500,#FF7100);
    position: absolute;
    top: 30px;
    left: 0;
    transition: 0.5s;

}
.menu nav a:hover::after{
    width: 30px;
}
.sociais button{
    width: 35pt;
    height: 35pt;
    background-image: linear-gradient(45deg, #FF2500,#FF7100); 
    border: none;
    
    border-radius: 8px;
    cursor: pointer;

}
.sociais button i{
    font-size: 30px;
    color: #fff;
}
.sociais{
    padding: 10px;
    margin-right: 20px;
    
    
}
.sociais button{
    margin-right: 8px;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #ffffff;
    transform: scale(1.05);
}

/* parte onde entra os produtos */

.imagens-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 25px;
    row-gap: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    
}
main{
    background-color: rgba(244, 244, 208, 0.772);
}
 .caixas{
    font-size: 30pt;
    font-family: roboto;
    text-align: center;
    padding: 20px 0;
    color: rgb(162, 156, 156);
 }
.card-body{
    text-align: center;
}

footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.footer-menu-container{
    list-style-type: none;
    color: #ffffff;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: #ffffff;
    text-align: center;
}
.footer-menu-container a{
text-decoration: none;
color: #ffffff;    
}